<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search Movie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label text-wrap>
      Hier kann nach Filmen oder Serien gesucht werden.
      Mit dem Searchtype kann zwischen den beiden Optionen gewechselt werden.
      Klickt man auf einen Eintrag so werden mehr Informationen angezeigt.
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-searchbar [(ngModel)]="searchTerm" (keypress)="searchChanged()"></ion-searchbar>
    <ion-button color="secondary" (click)="searchChanged()">Search</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged()">
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>

    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>
        {{ item.Year }}
      </ion-label>

      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>

    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item slot="end">
      <ion-label>Movie App/Luca Rava/HSLU I</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>
